<nav class="border-b border-gray-300">
  <ul class="flex max-w-4xl px-4 mx-auto text-xl space-x-3">
    <li><a class="relative block py-2 border-blue-400 {{ 'border-b-4' if '/' == page.url }} top-1px" href="/">Ashutosh B.</a></li>
    <li><a class="relative block py-2 border-blue-400 {{ 'border-b-4' if ('/blog' in page.url or '/tags' in page.url) }} top-1px" href="/blog">Blog</a></li>
  </ul>
</nav>
