---
layout: base
---
<h1 class="text-4xl font-bold text-gray-700">{{ title }}</h1>
<p class="text-gray-400">By <b class="text-gray-800">Ashutosh Biswas</b> on {{ date | prettyDate }}</p>

<article class="my-3 prose prose-pink max-w-none prose-lg">
  {{ content | safe }}
</article>

