---
title: "About me"
layout: "base.njk"
---
<h1 class="mx-3 my-4 text-4xl font-bold text-gray-700 sm:text-5xl">About me</h1>
<div class="prose">
  <blockquote>
  Two roads diverged in a wood, and I
  I took the one less traveled by —  <b>Robert Frost</b>
  </blockquote>

  <img src="/assets/img/me-with-code-2.jpg" alt="">

  <p>
    Hey, I'm Ashutosh! I'm a frontend web developer from Bangladesh. I'm a life long learner. I'm enthusiastic about web, math, open source, linux and vim. Fun fact: even in the age of VSCode I choosed to live in the terminal with vim(I mean neovim).
  </p>

  <p>
  I wrote my first lines of JavaScript back in 2011. I wrote simple programs like making odd magic squares and finding <i>n</i>th root of a number. Next 9 years I did programming but that was occasional. I did several small to medium sized projects to make my life easier. I mainly pursued to different directions, including becoming a portrait artist and 3d artist. I was not sure what I want to become. As a result I droped out of college several times. Finally I stopped pursing academic education altogether. Life is small, I don't want to fill it with things that I will never use except exams.
  </p>

  <p>
  At the start of 2020, I realized, I want to be a programmer and web developer. From then I never looked back. I self learned and gave a deep dive into JavaScript programming fundamentals and CSS core concepts.
  </p>

  <p>
  On 1 Jan, 2021, I started the Complete Web Development Course by Jhankar Mahhub to prepare myself for getting a Job. I've completed the main course successfully and now continuing the special SCIC program which they offer only to students who have earned good average marks.
  </p>

  <h2>Hobbies</h2>
  <p>
    I've several hobbies. Currently I'm active in juggling which I do almost everyday. I can juggle 3 balls in several patterns.
  </p>

  <p>
  Reading books, drawing, painting, chess, 3d graphics, origami, music are the main things that I try to reach if I get some free time. 
  </p>

  <h2>Contact</h2>
  <ul>
    <li><a href="mailto:ashutoshbw314@gmail.com">ashutoshbw314@gmail.com</a></li>
    <li><a href="https://github.com/ashutoshbw314" target="_blank">Github</a></li>
    <li><a href="https://www.linkedin.com/in/ashutosh-biswas/" target="_blank">Linkedin</a></li>
    <li><a href="https://www.facebook.com/ashutoshbw314/" target="_blank">Facebook</a></li>
  </ul>

  <h2>Miscellaneous</h2>
  <ul>
    <li><a href="https://drive.google.com/file/d/1gV7nC_J-M56jDXlWV-u79hWcL-AiBJLW/view?usp=sharing" target="_blank">Resume</a></li>
  </ul>
</div>

