---
title: "About me"
layout: "base.njk"
---
<h1 class="my-4 text-4xl font-bold text-gray-800 sm:text-5xl">About me</h1>
<div class="prose">
  <blockquote>
  Two roads diverged in a wood, and I
  I took the one less traveled by —  <b>Robert Frost</b>
  </blockquote>

  <img src="/assets/img/me-with-code.jpg" alt="">

  <p>
    Hey, I'm Ashutosh! I'm a JavaScript developer from Bangladesh. Web development excites me. I'm a life long learner. I'm enthusiastic about web, math, open source, linux and vim. 
  </p>

  <h2>Hobbies</h2>
  <p>
    I've several hobbies. Currently I'm active in juggling which I do almost everyday. I can juggle 3 balls in several patterns.
  </p>

  <p>
  Reading books, drawing, painting, chess, 3d graphics, origami, music are the main things that I try to reach if I get some free time. 
  </p>

  <h2>Contact</h2>
  <ul>
    <li><a href="mailto:ashutoshbw314@gmail.com">ashutoshbw314@gmail.com</a></li>
    <li><a href="https://github.com/ashutoshbw314" target="_blank">Github</a></li>
    <li><a href="https://www.linkedin.com/in/ashutosh-biswas/" target="_blank">Linkedin</a></li>
    <li><a href="https://www.facebook.com/ashutoshbw314/" target="_blank">Facebook</a></li>
  </ul>

  <h2>Miscellaneous</h2>
  <ul>
    <li><a href="https://drive.google.com/file/d/1gV7nC_J-M56jDXlWV-u79hWcL-AiBJLW/view?usp=sharing" target="_blank">Resume</a></li>
  </ul>
</div>

