---
title: "Blog"
layout: "base.njk"
---

<h1 class="mx-3 my-4 text-4xl font-bold text-gray-700 sm:text-5xl">Blog.</h1>
<p class="mb-5 text-lg text-gray-600 ">
This is collection of posts and tutorials I've written.
</p>
<hr />

{% from "postlist.njk" import postlist as postlist %}

{{ postlist(collections.posts) }}
