---
layout: base.njk
---

<h2 class="mb-3 text-4xl font-bold text-gray-800 animate-pulse">Blog.</h2>
<p class="mb-5 text-lg text-gray-600 ">
This is collection of posts and tutorials I've written over time.
</p>
<hr />

{% from "postlist.njk" import postlist as postlist %}

{{ postlist(collections.posts) }}
