---
title: "Ashutosh Biswas"
layout: "base.njk"
---

<div class="flex flex-col flex-col-reverse items-center mx-auto mt-8 md:flex-row space-x-5">
  <div class="flex flex-col">
    <div class="self-start">
      <h1 class="my-1 text-3xl font-bold tracking-tighter text-gray-800 md:text-4xl">
        Hello, I'm Ashutosh Biswas!
      </h1>
      <p class='pb-3 text-xl text-gray-700'>
       I'm a self-starter, programmer and web developer. I love making our lives easier and happier by writing code.
      </p>
    </div>
    <a
      class="self-start flex py-2 px-4 rounded-lg transform transition mt-3 ml-4 bg-blue-500 hover:bg-blue-400 hover:-translate-y-0.5 focus:ring-blue-200 focus:ring-opacity-50 focus:outline-none focus:ring tracking-wider font-semibold text-sm text-white shadow sm:text-base cursor-pointer"
      href="/assets/docs/Resume-Ashutosh-Biswas.pdf"
      download
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd" />
</svg>
      <span class="inline-block ml-2">Resume</span>
    </a>
  </div>
  <img class="object-cover object-right p-1 mb-8 border rounded-lg shadow-md cursor-pointer lg:mb-0 transform transition -rotate-6 hover:rotate-0 hover:scale-105 hover:shadow-xl w-72 h-72" src="/assets/img/profile-photo.jpg" alt="">
</div>
<div class="my-5">
  <h1 class="mb-2 text-3xl font-bold text-gray-900">Projects</h1>
  <ul class='list-disc list-inside'>
    <li><a class="text-blue-700 cursor-pointer hover:underline" href="https://www.npmjs.com/package/headless-calendar" target="_blank">Headless calendar</a></li>
    <li><a class="text-blue-700 cursor-pointer hover:underline" href="https://www.npmjs.com/package/any-number-to-words" target="_blank">Any Number to Words</a></li>
  </ul>
</div>

<div class="my-5">
  <h1 class="mb-2 text-3xl font-bold text-gray-900">Latest articles</h1>
  <ul class='list-disc list-inside'>
    <li><a class="text-blue-700 cursor-pointer hover:underline" href="/blog/finding-the-fibonacci-series-for-lazy-programmers/index.html">Finding the Fibonacci series for lazy programmers</a></li>
  </ul>
</div>
