---
title: "Licenses"
layout: "base.njk"
---

<div class="prose">
<h1>Licenses</h1>
<ul>
  <li>All my blog posts are licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License.</a></li>
  <li>My photos are licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</a></li>
  <li>This site is built using <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> and <a href="https://tailwindcss.com/" target="_blank">Tailwindcss</a>.</li>
</ul>
</div>
