---
title: "Projects"
layout: "base.njk"
---

<h1 class="my-4 text-4xl font-bold text-gray-800 sm:text-5xl">Projects</h1>

<div class="mt-5 space-y-3">
  <div>
    <h1 class="text-2xl font-bold">Headless Calendar</h1>
    <p>
      <a class="text-blue-800 hover:underline" href="https://www.npmjs.com/package/headless-calendar" target="_blank">npm</a> <span class="text-xl">/</span> <a class="text-blue-800 hover:underline" href="https://github.com/ashutoshbw314/headless-calendar" target="_blank">Github</a></p>
    <p>
      A simple and easy to use JavaScript library that provides common calendar functionalities
for making completely customizable calendar UI. 
    </p>
  </div>

  <div>
    <h1 class="text-2xl font-bold">Any Number to Words</h1>
    <p><a class="text-blue-800 hover:underline" href="https://www.npmjs.com/package/any-number-to-words" target="_blank">npm</a> <span class="text-xl">/</span> <a class="text-blue-800 hover:underline" href="https://github.com/ashutoshbw314/any-number-to-words" target="_blank">Github</a></p>
    <p>A string based number to words converter. It can convert from very small to large decimal numbers(just for fun 🌈).</p>
  </div>
  <h1 class="text-2xl font-bold">React and MERN stack projects</h1>
  <p>
    As assignments of Complete Web development course by Jhankar Mahbub, I did some React and MERN stack projects. To see them in detail click <a class="text-blue-800 hover:underline" href="/projects/assignment-projects/">here</a>.
  </p>
</div>

