---
layout: "base.njk"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
permalink: /tags/{{ tag }}/
---
<h1 class="mb-4 text-4xl font-bold text-gray-700">All posts tagged with "{{ tag }}"</h1>

{% set posts = collections[ tag ] %}
{% from "postlist.njk" import postlist as postlist %}

{{ postlist(posts) }}

